DappKHReal/
KHRealMavenWeb/target/
KHRealMavenWeb/.idea/
KHRealMavenWeb/TruffleContract/node_modules/
KHRealMavenWeb/TruffleContract/node_modules/
KHRealMavenWeb/TruffleContract/src/
KHRealMavenWeb/TruffleContract/test/
